/**main styles**/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=PT+Sans:wght@400;700&family=Roboto+Condensed:wght@300;700&family=Shadows+Into+Light&family=Oswald:wght@200;300;400;700&display=swap');


/******Menu icon*******/
.container {
  display: none;
}
/**********Menu icon finish************/

:root{
  --main-padding: 10px 40px;
  --main-text-color:rgba(0,0,0,.5);
  --font-1: 'PT Sans', sans-serif;
  --font-2: 'Roboto Condensed', sans-serif;
  --font-3: 'Kaushan Script', cursive;
  --font-4: 'Shadows Into Light', cursive;
  --font-5: 'Oswald', sans-serif;
  --main-dark-color:#616974;
}
::selection{
  background: rgba(97, 105, 116, .2);
}
html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  font-family: var(--font-1);
  font-weight: 400;
  background-image: linear-gradient(to right bottom, #a4bcd4, #e6e5e0);
  background-position: top;
  background-size: 100% 100%;
  background-attachment: fixed;
}
#header{
  background-image: linear-gradient(to right bottom, #a4bcd4, #e6e5e0);
  background-position: top;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-bar a{
  color:var(--main-text-color);
  text-decoration: none;
  margin-right: 30px;
}
#navbar{
  background-image: linear-gradient(to right bottom, #a4bcd4, #e6e5e0);
  background-position: top;
  background-size: 100vw 100vh;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  width:100vw;
  height:auto;
  padding:0;
  color:rgba(0,0,0,.6);
  z-index:2;
  /**background-color: #cadab6;**/
  /**box-shadow:0 4px 10px 5px #cadab6;**/
}
#link-container > a{
  margin:auto 0 auto 0;
}
.navlink{
  padding:var(--main-padding);

  border-bottom:3px solid rgba(255,255,255,0);
  transition: all 0.1s;
}
.navlink:hover{
  border-bottom:3px solid rgba(255,255,255,.8);
}
#link-container{
  display:flex;
}
#first-link{
  margin-left:auto !important;
}

#title{
  padding:var(--main-padding);
  padding-right: 10px;
  margin:auto;
  width:auto;
  text-align:center;
  cursor:default;
}

#name{
  padding:var(--main-padding);
  padding-left:0;
  margin:auto 0 auto 0;
  font-family: var(--font-5);
  line-height: 0.9;
  color:white;
  font-size:20px;
}

#title > img{
  width:auto;
  height:50px;
  margin: auto;
}

#link-container > a{
  text-decoration:none;
  color:var(--main-text-color);
}
/**#link-container > a:before{
  content:'#';
  color:transparent;
  font-size:12px;
}
#link-container > a:hover:before{
  content:'#';
  color:var(--main-text-color);
}**/

#motto{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 40px;
  color:white;
  font-size:inherit;
  line-height: 0.9;
  font-family: var(--font-1);
  font-weight:400;
}

#motto > p{
  color:var(--main-dark-color);
  text-align: center;
}
#paragraph-1, #paragraph-2, #paragraph-3{
  padding: 0;
}
#paragraph-1{
  font-family: var(--font-5);
  font-size:100px;
  margin:0;
  font-weight: 200;
}

#paragraph-2{
  font-family: var(--font-2);
  font-size:40px;
  margin:20px 0 0 0;
}

#paragraph-3{
  font-family: var(--font-5);
  font-size:70px;
  margin:0;
  font-weight: 400;
}
#contact{
  background-color: rgba(97, 105, 116, 1);
  height:auto;
  text-align:center;
  padding:50px 0;
  width:100%;
}

#contact > a{
  color:#fff;
  display:inline-block;
  margin:0 10px;
  text-decoration:none;
  transition:all 0.1s;
}

#contact > a:hover{
  transfrom-origin:50%;
  transform:scale(0.9);
  text-shadow:0 0 3px #000;
}
.social-media-icon{
  width:auto;
  height:50px;
}

h2{color:#fff;margin:0 0 20px 0;font-weight:200;}


@media (max-width:600px){
  :root{
    --main-padding: 10px 15px;
}

body{
  background-image: linear-gradient(to right bottom, #a4bcd4, #e6e5e0);
  background-position: top;
  background-size: 100% 100%;
  background-attachment: fixed;
}

  #last-link{
    margin-right:15px !important;
  }

  #navbar{
    background-image: linear-gradient(to right bottom, #a4bcd4, #e6e5e0);
    background-position: top;
    background-size: 100vw 100vh;
    top:-1px;
    height: auto;
    padding-top:0;
    padding-bottom:0;
  }
  #about{
    background-color: transparent;
  }



}
